In [22]:
%%writefile zoo.py

def hours():
    print('Open 9-5 daily')

Overwriting zoo.py

In [23]:
>>> import zoo

In [24]:
>>> import zoo as menagerie
>>> menagerie.hours()

Open 9-5 daily

In [30]:
# Cell 1
import csv
import sqlite3
from sqlalchemy import create_engine, Table, MetaData, select, Column, Integer, String

In [31]:
# Cell 2
# Step 16.1: Save the text lines to a CSV file called books.csv
lines = [
    'author,book',
    'J R R Tolkien,The Hobbit',
    'Lynne Truss,"Eats, Shoots & Leaves"'
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(csv.reader(lines))

In [32]:
# Cell 3
# Step 16.2: Use csv module to read books.csv to the variable books
with open('books.csv', 'r') as file:
    csv_reader = csv.DictReader(file)
    books = list(csv_reader)

# Print values in books
print("Step 16.2:")
print(books)

Step 16.2:
[{'author': 'J R R Tolkien', 'book': 'The Hobbit'}, {'author': 'Lynne Truss', 'book': 'Eats, Shoots & Leaves'}]

In [33]:
# Cell 4
# Step 16.3: Create a CSV file called books2.csv
lines_books2 = [
    'title,author,year',
    'The Weirdstone of Brisingamen,Alan Garner,1960',
    'Perdido Street Station,China Miéville,2000',
    'Thud!,Terry Pratchett,2005',
    'The Spellman Files,Lisa Lutz,2007',
    'Small Gods,Terry Pratchett,1992'
]

with open('books2.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(csv.reader(lines_books2))

In [34]:
# Cell 5
# Step 16.4: Use sqlite3 module to create a SQLite database called books.db and a table called books
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')

In [35]:
# Cell 6
# Step 16.5: Read books2.csv and insert its data into the book table
with open('books2.csv', 'r') as file:
    csv_reader = csv.DictReader(file)
    for row in csv_reader:
        cursor.execute('INSERT INTO books VALUES (?, ?, ?)', (row['title'], row['author'], row['year']))

# Commit and close the connection
conn.commit()
conn.close()

In [36]:
# Cell 7
# Step 16.6: Select and print the title column from the book table in alphabetical order
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('SELECT title FROM books ORDER BY title')
result_step_6 = cursor.fetchall()

print("\nStep 16.6:")
print(result_step_6)

Step 16.6:
[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

In [37]:
# Cell 8
# Step 16.7: Select and print all columns from the book table in order of publication
cursor.execute('SELECT * FROM books ORDER BY year')
result_step_7 = cursor.fetchall()

print("\nStep 16.7:")
for row in result_step_7:
    print(row)

# Close the SQLite connection
conn.close()

Step 16.7:
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

In [38]:
# Cell 9
# Step 16.8: Use sqlalchemy to connect to the sqlite3 database and select and print the title column
engine = create_engine('sqlite:///books.db')
metadata = MetaData()

# Define the books table
books_table = Table('books', metadata,
                   Column('title', String),
                   Column('author', String),
                   Column('year', Integer))

# Reflect the table from the database
metadata.reflect(bind=engine)

# Select and print the title column from the book table in alphabetical order using sqlalchemy
stmt = select([books_table.columns.title]).order_by(books_table.columns.title)
result_step_8 = engine.execute(stmt).fetchall()

print("\nStep 16.8:")
print(result_step_8)

Step 16.8:
[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]